<!DOCTYPE html>
<html>
<head>
    <style>
        form {
            text-align: left;
        }
    </style>
    <title>
        Stories Views
    </title>
</head>
<body>
    <h1>Привет! Это мой демо-проект по извлечению ключевых слов из предложений</h1>
    <h2>Вы можете ввести предложение на русском языке в поле ниже:</h2>
    <form method="POST" action="/" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.input_data.label }} {{ form.input_data(size=100) }}
        <input type="submit" value="Сгенерировать">
    </form>
    <h2>И здесь появятся изображения, найденные по ключевым словам из него:</h2>
    {% for hist in list_images %}
        <img src="{{url_for('static', filename=hist)}}" alt="{{hist}}" style="width: auto;">
    {% endfor %}
    <h2>Также Вы можете посмотреть историю запросов (введённые предложения и ключевые слова из них) перейдя во вкладку /view</h2>
</body>
</html>